<?php
$trxType = $block->getRequest()->getParam('trxType');
$amount = $block->getRequest()->getParam('amount');
$remark = $block->getRequest()->getParam('remark');

if ($amount === null) {
    $amount = 0;
}
?>
<div class="page:main-controller" class="page-columns">
    <div id="container" class="main-col">
        <div class="entry-edit form-inline">
            <form action="<?= $block->getUrl('redeemewallet/customer/adjustment', ['id' => $block->getCustomerId()]); ?>" 
                  data-mage-init='{"validation": {}}'>

                <div class="page-main-actions">
                    <div class="page-actions-placeholder"></div>
                    <div class="page-actions">
                        <div class="page-actions-inner">
                            <div class="page-actions-buttons">
                                <button type="button" class="action-default scalable back" 
                                        onclick="location.href = '<?= $block->getUrl('redeemewallet/customer/listing', ['id' => $block->getCustomerId()]) ?>'">
                                    <span><?= $block->escapeHtml(__('Back')) ?></span>
                                </button>

                                <button type="submit" class="action-default scalable primary">
                                    <span><?= $block->escapeHtml(__('Save')) ?></span>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

                <fieldset class="fieldset admin__fieldset">
                    <legend class="admin__legend legend">
                        <Span>Adjustment Information</span>
                    </legend>
                    <div class="admin__field field field-period_type">
                        <div class="label admin__field-label">
                            <span><?= $block->escapeHtml(__('Customer')) ?></span>
                        </div>
                        <div class="admin__field-control control">
                            <div class="control-value admin__field-value">
                                <?php
                                $customer = $block->getCustomer();
                                ?>
                                <p><?= $customer->getData('firstname') ?></p>
                                <p><?= $customer->getData('lastname') ?></p>
                                <?= $customer->getData('email') ?>
                            </div>
                        </div>
                    </div>
                    <div class="admin__field field field-period_type required">
                        <div class="label admin__field-label">
                            <span><?= $block->escapeHtml(__('Adjustment Type')) ?></span>
                        </div>
                        <div class="admin__field-control control">
                            <select id="trxType" name="trxType" class="admin__control-select">
                                <?php foreach ($block->getAdjTypes() as $type) { ?>
                                    <option value="<?= $type ?>" <?= $trxType == $type ? "selected" : "" ?>>
                                        <?= __($block->getAdjTypeLabel($type)) ?>
                                    </option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>  
                    <div class="admin__field field field-period_type required">
                        <div class="label admin__field-label">
                            <span><?= $block->escapeHtml(__('Amount')) ?></span>
                        </div>
                        <div class="admin__field-control control">
                            <input type="text" id="amount" name="amount" 
                                   class="admin__control-text required-entry _required admin__control-text  input-text" 
                                   data-validate="{'required':true, 'not-negative-amount': true}"
                                   value="<?= $amount ?>"/>
                        </div>
                    </div>           
                    <div class="admin__field field field-period_type required">
                        <div class="label admin__field-label">
                            <span><?= $block->escapeHtml(__('Remark')) ?></span>
                        </div>
                        <div class="admin__field-control control">
                            <textarea id="remark" name="remark" 
                                      rows="4"
                                      class="required-entry _required textarea admin__control-textarea" ><?= $remark ?></textarea>
                        </div>
                    </div> 
                </fieldset>
            </form>
        </div>
    </div>
</div>