<?php
$customer = $block->getCustomer();

if ($customer !== null) {
    $aPeriods = $block->getPeriods($customer->getId());
    $period = $block->getRequest()->getParam('period');
    ?>
    <div class="page:main-controller" class="page-columns">
        <div id="container" class="main-col">


            <div class="page-main-actions">
                <div class="page-actions-placeholder"></div>
                <div class="page-actions">
                    <div class="page-actions-inner">
                        <div class="page-actions-buttons">
                            <button type="button" class="action-default scalable back" 
                                    onclick="location.href = '<?= $block->getUrl('customer/index/edit', ['id' => $block->getCustomerId()]) ?>'">
                                <span><?= $block->escapeHtml(__('Back')) ?></span>
                            </button>

                            <button type="button" class="action-default scalable action-secondary" 
                                    onclick="location.href = '<?= $block->getUrl('redeemewallet/customer/adjustment', ['id' => $block->getCustomerId()]) ?>'">
                                <span><?= $block->escapeHtml(__('Adjustment')) ?></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <fieldset class="fieldset admin__fieldset fieldset-wide" id="review_details">
                <legend class="admin__legend legend">
                    <span>Ewallet Summary</span>
                </legend>

                <div class="admin__field field field-product_name">
                    <label class="label admin__field-label">
                        <span><?= $block->escapeHtml(__('Customer')) ?></span>
                    </label>
                    <div class="admin__field-control control">
                        <div class="control-value admin__field-value">
                            <p><?= $customer->getData('firstname') ?></p>
                            <p><?= $customer->getData('lastname') ?></p>
                            <?= $customer->getData('email') ?>
                        </div>                            
                    </div>
                </div>

                <div class="admin__field field field-product_name">
                    <label class="label admin__field-label">
                        <span><?= $block->escapeHtml(__('Balance')) ?></span>
                    </label>
                    <div class="admin__field-control control">
                        <div class="control-value admin__field-value">
                            <?= number_format($block->getBalance(), 2) ?>
                        </div>                            
                    </div>
                </div>

                <?php if (count($aPeriods) > 0) { ?>
                    <div class="admin__field field field-product_name">
                        <label class="label admin__field-label">
                            <span><?= $block->escapeHtml(__('Periods')) ?></span>
                        </label>


                        <div class="admin__field-control control">
                            <form action="<?= $block->getUrl('ewallet/customer/listing'); ?>">
                                <input type="hidden" name="id" value="<?= $block->getCustomerId() ?>"/>
                                <select id="period" name="period" class="admin__control-select" onchange="this.form.submit()">
                                    <?php foreach ($aPeriods as $aPeriod) { ?>
                                        <?php
                                        $label = $block->getPeriodDisplay($aPeriod);
                                        $value = $block->getPeriodValue($aPeriod);
                                        $selected = $period === $value;
                                        ?>
                                        <option value="<?= $value ?>" <?= $selected ? 'selected' : '' ?>>
                                            <?= $label ?>
                                        </option>
                                    <?php } ?>
                                </select>
                            </form>
                        </div>
                    </div>
                <?php } ?>
            </fieldset>

        </div>
    </div>
<?php } ?>

<?php
if ($customer !== null && $aPeriods !== null && count($aPeriods) > 0) {
    if ($period == null) {
        $period = $block->getPeriodValue($aPeriods[0]);
    }
    $ewallets = $block->getTransactions($period);
    ?>
    <table width="100%">
        <tr>
            <th width="120px" class="left"><?= $block->escapeHtml(__('Date')) ?></th>
            <th width="120px" class="center"><?= $block->escapeHtml(__('Type')) ?></th>
            <th width="*" class="left"><?= $block->escapeHtml(__('Remark')) ?></th>
            <th width="125px" class="right"><?= $block->escapeHtml(__('Amount')) ?></th>
            <th width="125px" class="center"><?= $block->escapeHtml(__('Done By')) ?></th>
        </tr>
        <?php if (count($ewallets) == 0) { ?>
            <tr>
                <td colspan="5" class="center"><?= $block->escapeHtml(__('- No Record Found -')) ?></td>
            </tr>
        <?php } ?>

        <tr class="odd">
            <td></td>
            <td class="center">CF</td>
            <td>Balance carry forward</td>
            <td class="right"><?= $block->formatAmt($block->getBalanceBefore($period)) ?></td>
            <td></td>
        </tr>

        <?php $i = 0; ?>
        <?php foreach ($ewallets as $ewallet) { ?>
            <tr class="<?= ($i++ % 2 == 0) ? 'even' : 'odd' ?>">
                <td><?= $ewallet->getData('stmt_date') ?></td>
                <td class="center"><?= $ewallet->getData('trx_type') ?></td>
                <td><?= $ewallet->getData('remark') ?></td>
                <td class="right">
                    <?= $block->formatAmt($ewallet->getData('amt_in') - $ewallet->getData('amt_out')) ?>
                </td>
                <td class="center"><?= $ewallet->getData('doneby') ?></td>
            </tr>
        <?php } ?>   
    </table>
<?php } ?>