<div class="fieldset-wrapper-title">
    <strong class="title">
        <?= $block->escapeHtml(__('Cash')) ?>
    </strong>
</div>

<fieldset class="admin__fieldset">
    <div class="admin__field _disabled">
        <div class="admin__field-label">
            <label>
                <span><?= $block->escapeHtml(__('Balance')) ?></span>
            </label>
        </div>
        <div class="admin__field-control _with-tooltip">
            <div class="control-value admin__field-value">
                <p><?= $block->formatAmt($block->getCashBalance()) ?> points</p>
                <a href="<?= $block->getUrl('ewallet/customer/listing', ['id' => $block->getCustomerId()]); ?>"
                   target="_blank">
                    <?= $block->escapeHtml(__('View')) ?></a>
            </div>
        </div>
    </div>
    <div class="admin__field _disabled">
        <div class="admin__field-label">
            <label>
                <span><?= $block->escapeHtml(__('Pending Withdrawal')) ?></span>
            </label>
        </div>
        <div class="admin__field-control _with-tooltip">
            <div class="control-value admin__field-value">
                <p>RM <?= $block->formatAmt($block->getPendingWithdrawal()) ?></p>
                <a href="<?= $block->getUrl('ewallet/withdrawal/listing', ['id' => $block->getCustomerId()]); ?>"
                   target="_blank">
                   <?= $block->escapeHtml(__('View')) ?></a>
            </div>
        </div>
    </div>
</fieldset>

<div class="fieldset-wrapper-title">
    <strong class="title">
        <?= $block->escapeHtml(__('Redeem')) ?>
    </strong>
</div>

<fieldset class="admin__fieldset">
    <div class="admin__field _disabled">
        <div class="admin__field-label">
            <label>
                <span><?= $block->escapeHtml(__('Balance')) ?></span>
            </label>
        </div>
        <div class="admin__field-control _with-tooltip">
            <div class="control-value admin__field-value">
                <p><?= $block->formatAmt($block->getRedeemBalance()) ?> points</p>
                <a href="<?= $block->getUrl('redeemewallet/customer/listing', ['id' => $block->getCustomerId()]); ?>"
                   target="_blank">
                       <?= $block->escapeHtml(__('View')) ?>
                </a>
            </div>
        </div>
    </div>
</fieldset>