<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="amount price-container">
    (<span class="price-wrapper" data-bind="html: cart().total_pv"></span> PV)
</div>