.summary {
    background: #f5f5f5;
    text-align: right;
    font-weight: bold;
}

.detail-title {
    font-weight: bold;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.even {
    background: #ffffff;
}

.odd {
    background: #f5f5f5;
}

th, td {
    padding: 11px 10px;
}