<?php
    $aPeriods = $block->getPeriods();
    $period = $block->getRequest()->getParam('period');
?>
<?php if (count($aPeriods) > 0) { ?>
<div class="block">
    <div class="block-title"><strong><?= $block->escapeHtml(__('Period')) ?></strong></div>
    <div class="block-content">
        <div class="box">
              <form action="<?= $block->getUrl('bonus/statement/index'); ?>">
                  <select name="period" onchange="this.form.submit()">
                    <?php foreach ($aPeriods as $aPeriod) { ?>
                        <?php
                            $label = $block->getPeriodDisplay($aPeriod); 
                            $value = $block->getPeriodValue($aPeriod);
                            $selected = $period === $value;
                        ?>
                        <option value="<?= $value ?>" <?= $selected ? 'selected' : '' ?>>
                        <?= $label ?>
                        </option>
                    <?php } ?>
                </select>
            </form>
        </div>
    </div>
</div>

<?php
if ($period === null) {
    $period = $block->getPeriodValue($aPeriods[0]);
}
$dBonuses = $block->getDirectBonuses($period);

$totalDirect = $dBonuses->getTotalBonus();
$totalBonus = $totalDirect;
?>

<div class="block">
    <div class="block-title"><strong><?= $block->escapeHtml(__('Summary')) ?></strong></div>
    <div class="block-content">
        <table>
            <tr>
                <th width="25px">No.</th>
                <th>Type</th>
                <th class="right" width="150px">Subtotal</th>
            </tr>
            <tr>
                <td class="no"><?= $block->escapeHtml(__('1) ')) ?></td>
                <td><?= $block->escapeHtml(__('Direct Sponsor')) ?></td>
                <td class="right"><?= number_format($totalDirect, 2) ?></td>
            </tr>
            <tr class="summary">
                <td colspan="2"><?= $block->escapeHtml(__('Total')) ?></td>
                <td class="right"><?= number_format($totalBonus, 2) ?></td>
            </tr>
        </table>
    </div>
</div>
<div class="block">
    <div class="block-title"><strong><?= $block->escapeHtml(__('Details')) ?></strong></div>
    <div class="block-content">
        <p>
        <div class="detail-title"><?= $block->escapeHtml(__('1) Direct Sponsor')) ?></div>
        <br>

        <table width="100%">
            <tr>
                <th><?= $block->escapeHtml(__('Date')) ?></th>
                <th><?= $block->escapeHtml(__('Remark')) ?></th>
                <th width="32%"><?= $block->escapeHtml(__('Customer')) ?></th>
                <th class="center"><?= $block->escapeHtml(__('Level')) ?></th>
                <th class="right"><?= $block->escapeHtml(__('PV')) ?></th>
                <th class="right"><?= $block->escapeHtml(__('Amount')) ?></th>
            </tr>
            <?php if ($dBonuses->getSize() == 0) { ?>
                <tr>
                    <td colspan="6" class="center"><?= $block->escapeHtml(__('- No Record Found -')) ?></td>
                </tr>
            <?php } ?>
            <?php $i = 0; ?>
            <?php foreach ($dBonuses as $dBonus) { ?>
                <tr class="<?= ($i++ % 2 == 0) ? 'odd' : 'even' ?>">
                    <td><?= $dBonus->getData('date') ?></td>
                    <td><?= $dBonus->getData('remark') ?></td>
                    <td>
                        <?= $dBonus->getData('member_id') ?><br>
                        <?= $dBonus->getData('firstname') ?><br>
                        <?= $dBonus->getData('lastname') ?>
                    </td>
                    <td class="center"><?= $dBonus->getData('level') - 1 ?></td>
                    <td class="right"><?= number_format($dBonus->getData('pv'), 2) ?></td>
                    <td class="right"><?= number_format($dBonus->getData('bonus'), 2) ?></td>
                </tr>
            <?php } ?>
        </table>
        </p>
    </div>
</div>


<?php } else { ?>
<center><?= $block->escapeHtml(__('- No Record Found -')) ?></center>
<?php } ?>