<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c860013744f2b1b" async="async"></script>

<?php
	$_post = $block->getPost();
        $postId = $_post->getId();
	$_customerID = $block->getCustomerID();
	$_postUrl = $_post->getPostUrl();
	$_sharepostUrl = $_post->getPostUrl() . "?user#" . $_customerID;
	
	if ($_customer = $_post->getCustomer()) 
	{
		$_authorID = $_customer->getId();
	}
	else if ($_author = $_post->getAuthor()) 
	{
		// If is not customer created blog post.
		$_authorID = 0;
	}
?>

<div id="share" data-title="AddThis" class="addthis_inline_share_toolbox" 
data-url="<?php echo $_sharepostUrl ?>" data-title="THE TITLE" data-description="THE DESCRIPTION"></div>

<script type="text/javascript">

// creating method for passing data via using post method
require(['jquery'], function($){
	function savedata(shareTo)
	{			
		var customurl = "<?php echo $this->getUrl().'socialshare/index/saveshare'?>";
		$.ajax({
			url: customurl,
			type: 'POST',
			dataType: 'json',
			data: {
				shared_to: shareTo,
				post_url: "<?= $_postUrl?>",
				post_author_id: "<?= $_authorID?>",
                                post_id: <?= $postId ?>
			},
		complete: function(response) {             
			//country = response.responseJSON.default_country;
			//state = response.responseJSON.state;         
			console.log('save success');   
			},
			error: function (xhr, status, errorThrown) {
				console.log('Error happens. Try again.');
			}
		});	
	}
	
	// Alert a message when the user shares somewhere
	function eventHandler(evt) { 
		switch (evt.type) {
			case "addthis.menu.share":
				console.log('user shared to ' + evt.data.service);				
				console.log('user shared the link ' +  "<?php echo $_postUrl ?>");
				savedata(evt.data.service);
				break;
			default:
				console.log('received an unexpected event', evt);
		}
	}

	addthis.addEventListener('addthis.menu.share', eventHandler);
});

</script>



