<div class="block">
    <div class="block-title"><strong><?= $block->escapeHtml(__('Cash')) ?></strong></div>
    <div class="block-content">
        <div class="box box-information">
            <strong class="box-title">
                <span><?= $block->escapeHtml(__('Balance')) ?></span>
            </strong>
            <div class="box-content">
                <p>
                    <?= $block->formatAmt($block->getBalance()) ?> points 
                    or RM <?= $block->formatAmt($block->getCashValue($block->getBalance())) ?><br>
                    (1 point = RM <?= $block->getCashValue(1) ?>)
                </p>
            </div>
            <div class="box-actions">
                <a class="action" href="<?= $block->getUrl('ewallet/customer/listing'); ?>">View</a>
            </div>
        </div>
        <div class="box box-information">
            <strong class="box-title">
                <span>Pending Withdrawal</span>
            </strong>
            <div class="box-content">
                <p>
                    RM <?= $block->formatAmt($block->getPendingWithdrawal()) ?>
                </p>
            </div>
            <div class="box-actions">
                <a class="action" href="<?= $block->getUrl('ewallet/withdrawal/listing'); ?>">View</a>
                <a class="action" href="<?= $block->getUrl('ewallet/withdrawal/request'); ?>">Request</a>

            </div>
        </div>
    </div>
</div>