<?php
$level = 3;
$memberId = $block->getRequest()->getParam('memberId');
?>

<div class="page:main-controller" class="page-columns">
    <div id="container" class="main-col">
        <div class="entry-edit form-inline">
            <form action="<?= $block->getUrl('networktree/customer/index'); ?>">


                <div class="page-main-actions">
                    <div class="page-actions-placeholder"></div>
                    <div class="page-actions">
                        <div class="page-actions-inner">
                            <div class="page-actions-buttons">
                                <button type="submit" class="action-default scalable primary">
                                    <span><?= $block->escapeHtml(__('Search')) ?></span>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

                <fieldset class="fieldset admin__fieldset">
                    <legend class="admin__legend legend">
                        <Span>Filter</span>
                    </legend>
                    <div class="admin__field field field-period_type required _required">
                        <div class="label admin__field-label">
                            <span><?= $block->escapeHtml(__('Member Id')) ?></span>
                        </div>
                        <div class="admin__field-control control">
                            <input type="text" id="memberId" name="memberId" 
                                   class="admin__control-text required-entry _required admin__control-text  input-text" 
                                   value="<?= $memberId ?>"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<?php
if ($memberId) {
    $current = $block->findByMemberId($memberId);
} else {
    $current = null;
}
?>
<?php if ($current) { ?>
    <?php 
        $customerId = $current->getData('customer_id');
        $maxLevel = $current->getData('level') + 3; 
    ?>

    <table class="network-tree">
        <tr>
            <td class="downline-tree">
                <div class="admin__page-section-content">
                    <div class="admin__page-section-title head-account">
                        <span class="title"><?= $block->escapeHtml(__('Downline')) ?></span>
                        <div class="actions">
                        </div>
                    </div>

                    <?php foreach ($block->getDownlines($customerId, $level) as $downline) { ?>
                        <table>        
                            <tr>
                                <?php for ($i = $downline->getData('level'); $i > $current->getData('level') + 1; $i--) { ?>
                                    <td width="30px"/>
                                <?php } ?>
                                <td  class="network-tree-icon">
                                    <img src="<?php echo $block->getViewFileUrl('Merchstack_NetworkTree::account.png'); ?>"/>
                                </td>
                                <td class="network-tree-item">
                                    <a href="<?= $block->getUrl('networktree/customer/index', ['memberId' => $downline->getData('member_id')]); ?>">
                                        <?php echo $downline->getData('member_id') ?> - <?php echo $downline->getData('firstname') ?> <?php echo $downline->getData('lastname') ?><br>
                                        <?php echo $downline->getData('email') ?><br>
                                        <?= $block->escapeHtml(__('Level')) ?> <?php echo $downline->getData('level') ?><br>       
                                        <?php if ($downline->getData('level') == $maxLevel) { ?>
                                            <?php $count = $block->countDownlines($downline->getData('customer_id')); ?>
                                            <?php if ($count > 0) { ?>
                                                <span>(<?php echo $count ?> downlines)</span>
                                            <?php } ?>
                                        <?php } ?>
                                    </a>
                                </td>
                            </tr>             
                        </table>
                    <?php } ?>
                </div> 
            </td>
            <td class="upline-tree">
                <div class="admin__page-section-content">
                    <div class="admin__page-section-title head-account">
                        <span class="title"><?= $block->escapeHtml(__('Upline')) ?></span>
                        <div class="actions"></div>
                    </div>

                    <?php
                    $upline = $block->getUpline($customerId);

                    if ($upline != null) {
                        ?>
                        <table>
                            <tr>
                                <td  class="network-tree-icon">
                                    <img src="<?php echo $block->getViewFileUrl('Merchstack_NetworkTree::account.png'); ?>"/>
                                </td>
                                <td class="network-tree-item">
                                    <a href="<?= $block->getUrl('networktree/customer/index', ['memberId' => $upline->getData('member_id')]); ?>">
                                        <?php echo $upline->getData('member_id'); ?> - <?php echo $upline->getData('firstname') ?> <?php echo $upline->getData('lastname') ?><br>                        
                                        <?php echo $upline->getData('email') ?><br>
                                        <?= $block->escapeHtml(__('Level')) ?> <?php echo $upline->getData('level') ?><br>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <?php
                    }
                    ?>
                </div>
            </td>
        </tr>
    </table>

<?php } ?>
<?php if ($memberId && !$current) { ?>
    <center><span><?= $block->escapeHtml(__('No Result Found')) ?></span></center>
<?php } ?>