<div class="page:main-controller" class="page-columns">
    <div id="container" class="main-col">
        <div class="entry-edit form-inline">
            <form action="<?= $block->getUrl('networktree/customer/parse'); ?>">
                <div class="page-main-actions">
                    <div class="page-actions-placeholder"></div>
                    <div class="page-actions">
                        <div class="page-actions-inner">
                            <div class="page-actions-buttons">
                                <button type="submit" class="action-default scalable primary">
                                    <span><?= $block->escapeHtml(__('Parse')) ?></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <?= $block->escapeHtml(__('Total unparse customers : %1', $block->countUnparsedCustomers())) ?>
                </div>
            </form>
        </div>
    </div>
</div>