<?php /** @var MerchBlog\CustomerPost\Block\Create $block */ ?>

<style>
#loading {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  z-index: 100;
}

.hide{
  display: none !important;
}

.section-container {
    margin-top: 10px;
}

.section-label-1 {
    color: red;
    font-weight: bold;
    font-size: 1.1em;
}

.section-label-2 {
    color: darkblue;
    font-weight: bold;
    font-size: 1.0em;
}

.label {
    font-weight: bold;
}
</style>

<h2>Add New Post</h2>
<div id="loading" class="hide">
  <div id="loading-content">
    <img id="loading-image" src="<?php echo $block->getViewFileUrl('MerchBlog_CustomerPost::images/loading.gif');  ?>" alt="Loading..." />
  </div>
</div>
<form data-mage-init='{"validation": {}}' id="blog-edit" class="form" action="<?php echo $block->getUrl('merchblog_customerpost/post/save'); ?>" autocomplete="off" enctype="multipart/form-data" method="post">
    <fieldset class="fieldset">
        <legend class="legend">Post Info</legend>
        <div class="field required">
            <p class="section-container"><label class="label" for="title"> Title </label></p>
            <div class="control"><input id="title" class="input-text" title="Title" autocomplete="off" name="title" type="text" value="" data-validate="{'required':true, maxlength:255}"></div>
            <p class="section-container"><label class="label" for="meta_description"> Description </label></p>
            <div class="control"><input id="meta_description" class="input-text" title="Description" autocomplete="off" name="meta_description" type="text" value="" data-validate="{'required':true, maxlength:255}"></div>
            <p class="section-container"><label class="label" for="content_heading"> Content Heading </label></p>
            <div class="control"><input id="content_heading" class="input-text" title="Content Heading" autocomplete="off" name="content_heading" type="text" value="" data-validate="{'required':true, maxlength:255}"></div>
        </div>
    </fieldset>
    <fieldset class="fieldset">
        <legend class="legend">Content</legend>
        <div>
            <p class="section-container"><label class="label" for="template_id">Template</label></p>
            <select name="template_id" id="template_id">
                <option value=""></option>
                <?php foreach($block->getTemplateOptions() as $key => $value): ?>
                <option value="<?php echo $key; ?>"><?php echo $value; ?></option>
                <?php endforeach; ?>
            </select>
        </div>
        <div>
            <p class="section-container"><label class="section-label-1" for="section_1" name="section-1-title"> HEADLINE </label> 
            - <span class="section-label-2" name="section-1-desc">describe your headline here.</span></p>
            <textarea id="section_1" name="section_1"></textarea>
        </div>
        <div>
        <div>
            <p class="section-container"><label class="section-label-1" for="section_2" name="section-2-title"> OPENING </label> 
            - <span class="section-label-2" name="section-2-desc">describe your opening here.</span></p>
            <textarea id="section_2" name="section_2"></textarea>
        </div>
        <div>
            <p class="section-container"><label class="section-label-1" for="section_3" name="section-3-title"> FACT </label> 
            - <span class="section-label-2" name="section-3-desc">describe your fact here.</span></p>
            <textarea id="section_3" name="section_3"></textarea>
        </div>
        <div>
            <p class="section-container"><label class="section-label-1" for="section_4" name="section-4-title"> SOLUTION </label> 
            - <span class="section-label-2" name="section-4-desc">describe your solution here.</span></p>
            <textarea id="section_4" name="section_4"></textarea>
        </div>
        <div>
            <p class="section-container"><label class="section-label-1" for="section_5" name="section-5-title"> VISION </label> 
            - <span class="section-label-2" name="section-5-desc">describe your vision here.</span></p>
            <textarea id="section_5" name="section_5"></textarea>
        </div>
        <div>
            <p class="section-container"><label class="section-label-1" for="section_6" name="section-6-title"> PROOF </label> 
            - <span class="section-label-2" name="section-6-desc">describe your proof here.</span></p>
            <textarea id="section_6" name="section_6"></textarea>
        </div>
        <div>
            <p class="section-container"><label class="section-label-1" for="section_7" name="section-7-title"> RISK REVERSAL </label> 
            - <span class="section-label-2" name="section-7-desc">describe your risk reversal here.</span></p>
            <textarea id="section_7" name="section_7"></textarea>
        </div>
        <div>
            <p class="section-container"><label class="section-label-1" for="section_8" name="section-8-title"> BONUS </label> 
            - <span class="section-label-2" name="section-8-desc">describe your bonus here.</span></p>
            <textarea id="section_8" name="section_8"></textarea>
        </div>
        <div>
            <p class="section-container"><label class="section-label-1" for="section_9" name="section-9-title"> SCARCITY </label> 
            - <span class="section-label-2" name="section-9-desc">describe your scarcity here.</span></p>
            <textarea id="section_9" name="section_9"></textarea>
        </div>
        <div>
            <p class="section-container"><label class="section-label-1" for="section_10" name="section-10-title"> GBU </label> 
            - <span class="section-label-2" name="section-10-desc">describe your GBU here.</span></p>
            <textarea id="section_10" name="section_10"></textarea>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button class="action submit primary" title="Submit" type="submit" onclick="return confirm('Confirm to create?')">Submit</button>
            <button class="action submit primary" title="Back" type="button" onclick="location.href='<?php echo $block->getUrl('merchblog_customerpost/post');?>'">Back</button>
        </div>
    </div>
</form>
<script>
    require(['jquery'], function(jQuery) {
        jQuery(document).ajaxStart(function(){
            jQuery("#loading").removeClass('hide');
        }).ajaxStop(function(){
            jQuery("#loading").addClass('hide');
        });

        jQuery('#template_id').on('change', function () {
            jQuery.ajax({
                url: "<?php echo $this->getBaseUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]).'merchblog_customerpost/ajax/template/'; ?>",
                // url: "getAjaxUrl()",
                data: {template_id: jQuery("#template_id").val()},
                type: "POST",
                dataType: "json",
                success: function(data) {
                    //alert(data);
                    //jQuery('#content').val(data['content']);
                    if (data != null && data != "") 
                    {
                        var title1 = 'HEADLINE';
                        var desc1 = 'describe your headline here.';
                        var title2 = 'OPENING';
                        var desc2 = 'describe your opening here.';
                        var title3 = 'FACT';
                        var desc3 = 'describe your fact here.';
                        var title4 = 'SOLUTION';
                        var desc4 = 'describe your solution here.';
                        var title5 = 'VISION';
                        var desc5 = 'describe your vision here.';
                        var title6 = 'PROOF';
                        var desc6 = 'describe your proof here.';
                        var title7 = 'RISK REVERSAL';
                        var desc7 = 'describe your risk reversal here.';
                        var title8 = 'BONUS';
                        var desc8 = 'describe your bonus here.';
                        var title9 = 'SCARCITY';
                        var desc9 = 'describe your scarcity here.';
                        var title10 = 'GBU';
                        var desc10 = 'describe your GBU here.';

                        var i;
                        for (i = 1; i < 11; i++) { 
                            var title = '';
                            var desc = '';
                            if (i == 1)
                            {
                                title = title1;
                                desc = desc1;
                            }
                            else if (i == 2)
                            {
                                title = title2;
                                desc = desc2;
                            }
                            else if (i == 3)
                            {
                                title = title3;
                                desc = desc3;
                            }
                            else if (i == 4)
                            {
                                title = title4;
                                desc = desc4;
                            }
                            else if (i == 5)
                            {
                                title = title5;
                                desc = desc5;
                            }
                            else if (i == 6)
                            {
                                title = title6;
                                desc = desc6;
                            }
                            else if (i == 7)
                            {
                                title = title7;
                                desc = desc7;
                            }
                            else if (i == 8)
                            {
                                title = title8;
                                desc = desc8;
                            }
                            else if (i == 9)
                            {
                                title = title9;
                                desc = desc9;
                            }
                            else if (i == 10)
                            {
                                title = title10;
                                desc = desc10;
                            }

                            if (data['section_'+i+'_title'] != '' && data['section_'+i+'_title'] != null)
                            {
                                jQuery('[name="section-'+i+'-title"]').html(data['section_'+i+'_title']);
                            }
                            else
                            {
                                jQuery('[name="section-'+i+'-title"]').html(title);
                            }

                            if (data['section_'+i+'_description'] != '' && data['section_'+i+'_description'] != null)
                            {
                                jQuery('[name="section-'+i+'-desc"]').html(data['section_'+i+'_description']);
                            }
                            else
                            {
                                jQuery('[name="section-'+i+'-desc"]').html(desc);
                            }
                        }
                        
                        //tinyMCE.activeEditor.setContent(data['content']);
                    }
                },
                error: function(error) {
                    //alert(error);
                    console.log(error);
                }
            });
        });
    });

    require([
    "jquery", 
    "mage/translate", 
    "mage/adminhtml/events", 
    "mage/adminhtml/wysiwyg/tiny_mce/setup"
    ], function(jQuery){
        for (let i = 0; i < 11; i++) {
            wysiwyg_content = new wysiwygSetup("section_"+i, {
            "width":"100%",  // defined width of editor
            "height":"150px", // height of editor
            "plugins":[{"name":"image"}, {"name":"textcolor"}, {"name":"emoticons"}], // for image
            "tinymce4":{
                // "toolbar":"formatselect | bold italic underline | alignleft aligncenter alignright | bullist numlist | link table charmap | media image",
                // "plugins":"advlist autolink lists link charmap media noneditable table contextmenu paste code help table",
                "toolbar":" fontsizeselect forecolor | alignleft aligncenter alignright alignjustify | link | media image | emoticons ",
                "plugins":"advlist autolink lists link charmap media noneditable paste code help table",
                "content_css":"<?php echo $block->getCssUrl(); ?>",
            },
        });
        wysiwyg_content.setup("exact");

        tinymce.init({
            selector: 'section_'+i,
            fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
            init_instance_callback: function (editor) {
                editor.on('click', function (e) {
                console.log('Element clicked:', e.target.nodeName);
                });
            }
        });
            
        }
        
    });
</script>