<?php

/**
 * @var \Mageplaza\HelloWorld\Block\Display $block
 */

?>
<div class="actions-toolbar">
    <button class="action submit primary" title="Create New Post" type="button" onclick="location.href='<?php echo $block->getUrl('merchblog_customerpost/post/create');?>'">Create New Post</button>
</div>