<?php
$customer = $block->getCustomer();

$instagramHint = $block->escapeHtml(__('http://instagram.com/xxx'));
$twitterHint = $block->escapeHtml(__('http://twitter.com/xxx'));

?>
<form class="form-address-edit"
      action="<?= $block->getUrl('socialmedia/account/edit'); ?>"
      method="post"
      data-mage-init='{"validation": {}, "smValidation": {}}'>
    <fieldset class="fieldset">
        <legend class="legend">
            <span>
                <img height="20px" width="20px" src="<?php echo $block->getViewFileUrl('Merchstack_SocialMedia::instagram.png'); ?>"/>
                <?= $block->escapeHtml(__('Instagram')) ?> 
            </span>
        </legend>
        <div class="field">
            <label class="label">
                <span><?= $block->escapeHtml(__('Instagram 1')) ?></span>
            </label>
            <div class="control">
                <input type="text" name="instagram1" data-validate="{'validate-instagram': true}" 
                       placeholder="<?= $instagramHint ?>"
                       value="<?= $customer->getData('instagram1') ?>"/>
            </div>
        </div>
        <div class="field">
            <label class="label">
                <span><?= $block->escapeHtml(__('Instagram 2')) ?></span>
            </label>
            <div class="control">
                <input type="text" name="instagram2" data-validate="{'validate-instagram':true}" 
                       placeholder="<?= $instagramHint ?>"
                       value="<?= $customer->getData('instagram2') ?>"/>
            </div>
        </div>
        <div class="field">
            <label class="label">
                <span><?= $block->escapeHtml(__('Instagram 3')) ?></span>
            </label>
            <div class="control">
                <input type="text" name="instagram3" data-validate="{'validate-instagram':true}" 
                       placeholder="<?= $instagramHint ?>"
                       value="<?= $customer->getData('instagram3') ?>"/>
            </div>
        </div>
    </fieldset>

    <fieldset class="fieldset">
        <legend class="legend">
            <span>
                <img height="20px" width="20px" src="<?php echo $block->getViewFileUrl('Merchstack_SocialMedia::twitter.png'); ?>"/>            
                <?= $block->escapeHtml(__('Twitter')) ?>
            </span>
        </legend>
        <div class="field">
            <label class="label">
                <span><?= $block->escapeHtml(__('Twitter 1')) ?></span>
            </label>
            <div class="control">
                <input type="text" name="twitter1" data-validate="{'validate-twitter':true}" 
                       placeholder="<?= $twitterHint ?>"
                       value="<?= $customer->getData('twitter1') ?>"/>
            </div>
        </div>
        <div class="field">
            <label class="label">
                <span><?= $block->escapeHtml(__('Twitter 2')) ?></span>
            </label>
            <div class="control">
                <input type="text" name="twitter2" data-validate="{'validate-twitter':true}" 
                       placeholder="<?= $twitterHint ?>"
                       value="<?= $customer->getData('twitter2') ?>"/>
            </div>
        </div>
        <div class="field">
            <label class="label">
                <span><?= $block->escapeHtml(__('Twitter 3')) ?></span>
            </label>
            <div class="control">
                <input type="text" name="twitter3" data-validate="{'validate-twitter':true}"
                       placeholder="<?= $twitterHint ?>"
                       value="<?= $customer->getData('twitter3') ?>"/>
            </div>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit"
                    class="action save primary"
                    title="<?= $block->escapeHtmlAttr(__('Save')) ?>">
                <span><?= $block->escapeHtml(__('Save')) ?></span>
            </button>
        </div>
    </div>
</form>