.network-tree {
	width: 100%
}

.upline-tree {
    width: 50%;
	vertical-align: top;
}

.downline-tree {
    width: 50%;
	vertical-align: top;
}

.network-tree-icon {
	vertical-align: top;
	width: 75px;
}

.network-tree-item {
	vertical-align: top;
	padding-bottom: 10px;
}