<?php
$id = $block->getCustomerId();

if ($id === null) {
    $param = [];
} else {
    $param = ['id' => $id];
}

$aPeriods = $block->getPeriods();
$period = $block->getRequest()->getParam('period');
$status = $block->getRequest()->getParam('status');

if ($status == null) {
    $status = -1;
}
?>
<div class="page:main-controller" class="page-columns">
    <div id="container" class="main-col">
        <form action="<?= $block->getUrl('ewallet/withdrawal/listing', $param); ?>">

            <div class="page-main-actions">
                <div class="page-actions-placeholder"></div>
                <div class="page-actions">
                    <div class="page-actions-inner">
                        <div class="page-actions-buttons">
                            <?php if ($id !== null) { ?>
                                <button type="button" class="action-default scalable action-back"
                                        onclick="location.href = '<?= $block->getUrl('customer/index/edit', $param) ?>'">
                                    <span><?= $block->escapeHtml(__('Back')) ?></span>
                                </button>
                            <?php } ?>

                            <button type="button" class="action-default scalable action-primary" 
                                    onclick="this.form.submit()">
                                <span><?= $block->escapeHtml(__('Search')) ?></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <fieldset class="fieldset admin__fieldset fieldset-wide" id="review_details">

                <legend class="admin__legend legend">
                    <span>Filters</span>
                </legend>

                <div class="admin__field field field-product_name">
                    <label class="label admin__field-label">
                        <span><?= $block->escapeHtml(__('Status')) ?></span>
                    </label>
                    <div class="admin__field-control control">
                        <select id="status" name="status" class="admin__control-select">
                            <?php
                            foreach ($block->getStatusOptions() as $oStatus) {
                                $value = $oStatus['value'];
                                $label = $oStatus['label'];
                                $selected = $value == $status;
                                ?>
                                <option value="<?= $value ?>" 
                                        <?= $selected ? 'selected' : '' ?>>
                                            <?= $block->escapeHtml(__($label)) ?>
                                </option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
                <div class="admin__field field field-product_name">
                    <label class="label admin__field-label">
                        <span><?= $block->escapeHtml(__('Periods')) ?></span>
                    </label>

                    <div class="admin__field-control control">
                        <select id="period" name="period" class="admin__control-select">
                            <?php foreach ($aPeriods as $aPeriod) { ?>
                                <?php
                                $label = $block->getPeriodDisplay($aPeriod);
                                $value = $block->getPeriodValue($aPeriod);
                                $selected = $period === $value;
                                ?>
                                <option value="<?= $value ?>" <?= $selected ? 'selected' : '' ?>>
                                    <?= $label ?>
                                </option>
                            <?php } ?>
                        </select>
                    </div>
            </fieldset>

        </form>
    </div>
</div>

<?php
if ($aPeriods !== null && count($aPeriods) > 0) {
    if ($period == null) {
        $period = $block->getPeriodValue($aPeriods[0]);
    }

    $withdrawals = $block->findWithdrawals($period, $status);
    ?>
    <table width="100%">
        <tr>
            <th width="120px" class="left"><?= $block->escapeHtml(__('Date')) ?></th>
            <th width="*" class="left"><?= $block->escapeHtml(__('Customer')) ?></th>
            <th width="*" class="left"><?= $block->escapeHtml(__('Remark')) ?></th>
            <th width="125px" class="right"><?= $block->escapeHtml(__('Amount')) ?></th>
            <th width="125px" class="center"><?= $block->escapeHtml(__('Status')) ?></th>
            <th width="125px" class="center"><?= $block->escapeHtml(__('Action')) ?></th>
        </tr>
        <?php $i = 0; ?>
        <?php
        foreach ($withdrawals as $withdrawal) {
            $status = $withdrawal->getData('status');
            ?>
            <tr class="<?= ($i++ % 2 == 0) ? 'odd' : 'even' ?>">
                <td><?= $withdrawal->getData('stmt_date') ?></td>
                <td>
                    <?= $withdrawal->getData('acct_no') ?><br>
                    <?= $withdrawal->getData('acct_name') ?><br>
                    <?php $bank = $block->getBank($withdrawal->getData('bank_code')); ?>
                    <?= $bank !== null ? $bank['desc'] : $block->escapeHtml(__('-')) ?>
                </td>
                <td><?= $withdrawal->getData('remark') ?></td>
                <td class="right"><?= $block->formatAmt($withdrawal->getData('amt')) ?></td>
                <td class="center">
                    <?= $block->escapeHtml(__($block->getStatus($withdrawal->getData('status')))) ?>
                </td>
                <td class="center">
                    <?php
                    $wParam = ['id' => $withdrawal->getId()];
                    if ($id !== null) {
                        $wParam['customer_id'] = $id;
                    }
                    ?>
                    <a href="<?= $block->getUrl('ewallet/withdrawal/process', $wParam); ?>">
                        <?php if ($withdrawal->getData('status') == 0) { ?>
                            <?= $block->escapeHtml(__('Process')) ?>
                        <?php } else { ?>
                            <?= $block->escapeHtml(__('View')) ?>
                        <?php } ?>
                    </a>
                </td>
            </tr>
        <?php } ?>

        <?php if (count($withdrawals) == 0) { ?>
            <tr class="odd">
                <td colspan="6" class="center"><?= $block->escapeHtml(__('- No Record Found -')) ?></td>
            </tr>
        <?php } ?>
    </table>
<?php } ?>