<?php

$customerId = $block->getCustomerId();
if ($customerId !== null) {
    $param = [ 'id' => $customerId ];
} else {
    $param = [];
}

$withdrawal = $block->getWithdrawal();
$pending = $withdrawal->getData('status') == 0;
?>
<div class="page:main-controller" class="page-columns">
    <div class="page-main-actions">
        <div class="page-actions-placeholder"></div>
        <div class="page-actions">
            <div class="page-actions-inner">
                <div class="page-actions-buttons">
                    <button type="button" class="action-default scalable action-back"
                            onclick="location.href = '<?= $block->getUrl('ewallet/withdrawal/listing', $param) ?>'">
                        <span><?= $block->escapeHtml(__('Back')) ?></span>
                    </button>

                    <?php if ($pending) { ?>
                        <script>

                            function reject() {
                                document.getElementById('action').value = '<?= $block::REJECT ?>';
                                document.getElementById('process_form').submit();
                            }

                            function approve() {
                                document.getElementById('action').value = '<?= $block::APPROVE ?>';
                                document.getElementById('process_form').submit();
                            }

                        </script>

                        <button type="button" class="action-default scalable action-secondary" 
                                onclick="reject()">
                            <span><?= $block->escapeHtml(__('Reject')) ?></span>
                        </button>

                        <button type="button" class="action-default scalable action-primary" 
                                onclick="approve()">
                            <span><?= $block->escapeHtml(__('Approve')) ?></span>
                        </button>

                    <?php } ?>
                </div>
            </div>
        </div>
    </div>

    <div id="container" class="main-col">
        <fieldset class="fieldset admin__fieldset fieldset-wide" id="review_details">
            <legend class="admin__legend legend">
                <span><?= $block->escapeHtml(__('Request Information')) ?></span>
            </legend>
            <div class="admin__field field field-product_name">
                <label class="label admin__field-label">
                    <span><?= $block->escapeHtml(__('Acct No.')) ?></span>
                </label>
                <div class="admin__field-control control">
                    <div class="control-value admin__field-value">
                        <?= $withdrawal->getData('acct_no') ?>
                    </div>
                </div>
            </div>
            <div class="admin__field field field-product_name">
                <label class="label admin__field-label">
                    <span><?= $block->escapeHtml(__('Acct Name.')) ?></span>
                </label>
                <div class="admin__field-control control">
                    <div class="control-value admin__field-value">
                        <?= $withdrawal->getData('acct_name') ?>
                    </div>
                </div>
            </div>
            <div class="admin__field field field-product_name">
                <label class="label admin__field-label">
                    <span><?= $block->escapeHtml(__('Bank')) ?></span>
                </label>
                <div class="admin__field-control control">
                    <div class="control-value admin__field-value">
                        <?php
                        $bank = $block->getBank($withdrawal->getData('bank_code'))
                        ?>
                        <?= $bank !== null ? $bank['desc'] : '-' ?>
                    </div>
                </div>
            </div>
            <div class="admin__field field field-product_name">
                <label class="label admin__field-label">
                    <span><?= $block->escapeHtml(__('Date')) ?></span>
                </label>
                <div class="admin__field-control control">
                    <div class="control-value admin__field-value">
                        <?= $withdrawal->getData('stmt_date') ?>
                    </div>
                </div>
            </div>
            <div class="admin__field field field-product_name">
                <label class="label admin__field-label">
                    <span><?= $block->escapeHtml(__('Amount')) ?></span>
                </label>
                <div class="admin__field-control control">
                    <div class="control-value admin__field-value">
                        <?= $block->formatAmt($withdrawal->getData('amt')) ?>
                    </div>
                </div>
            </div>
            <div class="admin__field field field-product_name">
                <label class="label admin__field-label">
                    <span><?= $block->escapeHtml(__('Status')) ?></span>
                </label>
                <div class="admin__field-control control">
                    <div class="control-value admin__field-value">
                        <?= $block->escapeHtml(__($block->getStatus($withdrawal->getData('status')))) ?>
                    </div>
                </div>
            </div>
            <div class="admin__field field field-product_name">
                <label class="label admin__field-label">
                    <span><?= $block->escapeHtml(__('Remark')) ?></span>
                </label>
                <div class="admin__field-control control">
                    <div class="control-value admin__field-value">
                        <?= $withdrawal->getData('remark') ?>
                    </div>
                </div>
            </div>
        </fieldset>

        <?php if ($pending) { ?>
            <form id="process_form" action="<?= $block->getUrl('ewallet/withdrawal/process', [ 'id' => $block->getWithdrawalId() ]); ?>">
                <fieldset class="fieldset admin__fieldset fieldset-wide" id="review_details">
                    <legend class="admin__legend legend">
                        <span><?= $block->escapeHtml(__('Approve/Reject Information')) ?></span>
                    </legend>
                    <div class="admin__field field field-product_name">
                        <label class="label admin__field-label">
                            <span><?= $block->escapeHtml(__('Remark')) ?></span>
                        </label>
                        <div class="admin__field-control control">
                            <textarea name="process_remark" style="width:100%"><?= $withdrawal->getData('process_remark') ?></textarea>
                        </div>
                    </div>
                </fieldset>
                <input type="hidden" id="action" name="action" value=""/>
            </form>
        <?php } else { ?>
            <fieldset class="fieldset admin__fieldset fieldset-wide" id="review_details">
                <legend class="admin__legend legend">
                    <span><?= $block->escapeHtml(__('%1 Information', $block->getStatus($withdrawal->getData('status')))) ?>
                    </span>
                </legend>
                <div class="admin__field field field-product_name">
                    <label class="label admin__field-label">
                        <span><?= $block->escapeHtml(__('Process By')) ?></span>
                    </label>
                    <div class="admin__field-control control">
                        <div class="control-value admin__field-value">
                            <?= $withdrawal->getData('process_by') ?>
                        </div>
                    </div>
                </div>
                <div class="admin__field field field-product_name">
                    <label class="label admin__field-label">
                        <span><?= $block->escapeHtml(__('Date')) ?></span>
                    </label>
                    <div class="admin__field-control control">
                        <div class="control-value admin__field-value">
                            <?= $withdrawal->getData('process_date') ?>
                        </div>
                    </div>
                </div>
                <div class="admin__field field field-product_name">
                    <label class="label admin__field-label">
                        <span><?= $block->escapeHtml(__('Remark')) ?></span>
                    </label>
                    <div class="admin__field-control control">
                        <div class="control-value admin__field-value">
                            <?= $withdrawal->getData('process_remark') ?>
                        </div>
                    </div>
                </div>
            </fieldset>
        <?php } ?>
    </div>
</div>
