<?php
$aPeriods = $block->getPeriods();
$period = $block->getRequest()->getParam('period');
?>
<?php if (count($aPeriods) > 0) { ?>
    <div class="block">
        <div class="block-title"><strong><?= $block->escapeHtml(__('Withdrawals')) ?></strong></div>
        <div class="block-content">
            <div class="box">
                <form action="<?= $block->getUrl('ewallet/withdrawal/listing'); ?>">
                    <select name="period" onchange="this.form.submit()">
                        <?php foreach ($aPeriods as $aPeriod) { ?>
                            <?php
                            $label = $block->getPeriodDisplay($aPeriod);
                            $value = $block->getPeriodValue($aPeriod);
                            $selected = $period === $value;
                            ?>
                            <option value="<?= $value ?>" <?= $selected ? 'selected' : '' ?>>
                                <?= $label ?>
                            </option>
                        <?php } ?>
                    </select>
                </form>
            </div>

            <?php
            if ($period === null) {
                $period = $block->getPeriodValue($aPeriods[0]);
            }
            $ewallets = $block->getTransactions($period);
            ?>
            <table width="100%">
                <tr>
                    <th width="120px" class="left"><?= $block->escapeHtml(__('Date')) ?></th>
                    <th width="*" class="left"><?= $block->escapeHtml(__('Remark')) ?></th>
                    <th width="125px" class="center"><?= $block->escapeHtml(__('Status')) ?></th>
                    <th width="125px" class="right"><?= $block->escapeHtml(__('Amount')) ?></th>
                </tr>
                <?php if ($ewallets->getSize() == 0) { ?>
                    <tr>
                        <td colspan="3" class="center"><?= $block->escapeHtml(__('- No Record Found -')) ?></td>
                    </tr>
                <?php } ?>
                <?php $i = 0; ?>
                <?php foreach ($ewallets as $ewallet) { ?>
                    <tr class="<?= ($i++ % 2 == 0) ? 'odd' : 'even' ?>">
                        <td><?= $ewallet->getData('stmt_date') ?></td>
                        <td>
                            <p>
                                <?= $ewallet->getData('acct_no') ?><br>
                                <?= $ewallet->getData('acct_name') ?><br>
                                <?php $bank = $block->getBank($ewallet->getData('bank_code')); ?>
                                <?=  $bank !== null ? $bank['desc'] : $block->escapeHtml(__('-')) ?>
                            </p>
                            <p><?= $ewallet->getData('remark') ?></p>
                            <?php if ($ewallet->getData('process_remark') !== null) { ?>
                                <p><?= $ewallet->getData('process_remark') ?></p>
                            <?php } ?>
                        </td>
                        <td class="center">
                            <?= $block->getStatus($ewallet->getData('status')) ?>
                        </td>
                        <td class="right">
                            <?= $block->formatAmt($ewallet->getData('amt'), 2) ?>
                        </td>
                    </tr>
                <?php } ?>
            </table>
        </div>
    </div>
<?php } else { ?>
    <center><?= $block->escapeHtml(__('- No Record Found -')) ?></center>
<?php } ?>