<form class="form-address-edit"
      action="<?= $block->getUrl('ewallet/withdrawal/request'); ?>"
      method="post"
      data-mage-init='{"validation": {}}'>
    <input type="hidden" name="submit"/>
    <div class="block">
        <div class="block-title"><strong><?= $block->escapeHtml(__('Withdrawal Information')) ?></strong></div>
        <div class="block-content">
            <div class="box box-information">
                <div class="box-content">
                    <fieldset class="fieldset">
                        <div class="field required">
                            <label class="label">
                                <span><?= $block->escapeHtml(__('Account No.')) ?></span>
                            </label>
                            <div class="control">
                                <input type="text" name="acctNo" data-validate="{'required': true}" 
                                       value="<?= $block->getRequest()->getParam('acctNo') ?>"/>
                            </div>
                        </div>
                        <div class="field required">
                            <label class="label">
                                <span><?= $block->escapeHtml(__('Account Name')) ?></span>
                            </label>
                            <div class="control">
                                <input type="text" name="acctName" data-validate="{'required': true}" 
                                       value="<?= $block->getRequest()->getParam('acctName') ?>"/>
                            </div>
                        </div>
                        <div class="field required">
                            <label class="label">
                                <span><?= $block->escapeHtml(__('Bank')) ?></span>
                            </label>
                            <div class="control">
                                <?php
                                $bankCode = $block->getRequest()->getParam('bankCode');
                                ?>
                                <select name="bankCode">
                                    <?php foreach ($block->getBanks() as $bank) { ?>
                                        <option value="<?= $bank['code'] ?>"><?= $bank['desc'] ?></option>
                                    <?php } ?>                            
                                </select>
                            </div>
                        </div>
                        <div class="field required">
                            <label class="label">
                                <span><?= $block->escapeHtml(__('Ewallet Balance')) ?></span>
                            </label>
                            <div class="control">
                                RM <?= $block->formatAmt($block->getCashValue($block->getBalance())) ?>
                            </div>
                        </div>
                        <div class="field required">
                            <label class="label">
                                <span><?= $block->escapeHtml(__('Amount (RM)')) ?></span>
                            </label>
                            <div class="control">
                                <?php
                                $amt = $block->getRequest()->getParam('amt');
                                if ($amt === null) {
                                    $amt = 0.00;
                                }
                                ?>
                                <input type="text" name="amt" 
                                       data-validate="{'required': true, 'not-negative-amount': true}" 
                                       value="<?= $amt ?>"/>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">
                                <span><?= $block->escapeHtml(__('Remark')) ?></span>
                            </label>
                            <div class="control">
                                <textarea name="remark" rows="4"><?= $block->getRequest()->getParam('remark') ?></textarea>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit"
                    class="action save primary"
                    title="<?= $block->escapeHtmlAttr(__('Request')) ?>">
                <span><?= $block->escapeHtml(__('Request')) ?></span>
            </button>
        </div>
    </div>
</form>



