<?php
$rate = 3;
?>
<div class="block">
    <div class="block-title"><strong><?= $block->escapeHtml(__('Redeem')) ?></strong></div>
    <div class="block-content">
        <div class="box box-information">
            <strong class="box-title">
                <span><?= $block->escapeHtml(__('Balance')) ?></span>
            </strong>
            <div class="box-content">
                <p>
                    <?= number_format($block->getRedeemBalance(), 2) ?> points<br>
                </p>
            </div>
            <div class="box-actions">
                <a class="action" href="<?= $block->getUrl('redeemewallet/customer/listing'); ?>">View</a>
            </div>
        </div>
    </div>
</div>