<?php
$rate = 3;
$aPeriods = $block->getPeriods();
$period = $block->getRequest()->getParam('period');
?>
<div class="block">
    <div class="block-title"><strong><?= $block->escapeHtml(__('Redeem')) ?></strong></div>
    <div class="block-content">
        <div class="box box-information">
            <strong class="box-title">
                <span><?= $block->escapeHtml(__('Balance')) ?></span>
            </strong>
            <div class="box-content">
                <p>
                    <?= number_format($block->getBalance(), 2) ?> points
                </p>
            </div>
        </div>
    </div>
</div>

<?php if (count($aPeriods) > 0) { ?>
    <div class="block">
        <div class="block-content">
            <div class="box">
                <form action="<?= $block->getUrl('ewallet/customer/index'); ?>">
                    <select name="period" onchange="this.form.submit()">
                        <?php foreach ($aPeriods as $aPeriod) { ?>
                            <?php
                            $label = $block->getPeriodDisplay($aPeriod);
                            $value = $block->getPeriodValue($aPeriod);
                            $selected = $period === $value;
                            ?>
                            <option value="<?= $value ?>" <?= $selected ? 'selected' : '' ?>>
                                <?= $label ?>
                            </option>
                        <?php } ?>
                    </select>
                </form>
            </div>

            <?php
            if ($period === null) {
                $period = $block->getPeriodValue($aPeriods[0]);
            }
            $ewallets = $block->getTransactions($period);
            ?>
            <table width="100%">
                <tr>
                    <th width="120px" class="left"><?= $block->escapeHtml(__('Date')) ?></th>
                    <th width="*" class="left"><?= $block->escapeHtml(__('Remark')) ?></th>
                    <th width="125px" class="right"><?= $block->escapeHtml(__('Amount')) ?></th>
                </tr>
                <?php if ($ewallets->getSize() == 0) { ?>
                    <tr>
                        <td colspan="3" class="center"><?= $block->escapeHtml(__('- No Record Found -')) ?></td>
                    </tr>
                <?php } ?>

                <tr class="odd">
                    <td></td>
                    <td>Balance carry forward</td>
                    <td class="right"><?= number_format($block->getBalanceBefore($period), 2) ?></td>
                </tr>                    

                <?php $i = 0; ?>
                <?php foreach ($ewallets as $ewallet) { ?>
                    <tr class="<?= ($i++ % 2 == 0) ? 'even' : 'odd' ?>">
                        <td><?= $ewallet->getData('stmt_date') ?></td>
                        <td><?= $ewallet->getData('remark') ?></td>
                        <td class="right">
                            <?= number_format($ewallet->getData('amt_in') - $ewallet->getData('amt_out'), 2) ?>
                        </td>
                    </tr>
                <?php } ?>
            </table>
            </p>
        </div>
    </div>

<?php } else { ?>
    <center><?= $block->escapeHtml(__('- No Record Found -')) ?></center>
<?php } ?>