<div class="field introducer">
    <label class="label" for="introducer">
      <span><?= $block->escapeHtml(__('Referral Code')) ?></span>
    </label>
    <div class="control">
       <input type="text" name="introducer" id="skype" value="<?= $this->getRequest()->getParam('referralcode'); ?>" 
              title="<?= $block->escapeHtmlAttr(__('Referral Code')) ?>" 
              class="input-text" data-validate="{required:false}">
    </div>
</div>