<?php
    $current = $block->findCurrent();
?>
<div class="block">
    <div class="block-content">
        <div class="box">
            <div class="block-title"><strong><?= $block->escapeHtml(__('Downlines')) ?></strong></div>
            <div class="box-content">
                <?php foreach ($block->getDownlines(2) as $downline) { ?>
                    <table>        
                        <tr>
                            <?php for ($i = $downline->getData('level'); $i > $current->getData('level') + 1; $i--) { ?>
                                <td width="15px"/>
                            <?php } ?>
                            <td width="40px">
                                <img src="<?php echo $block->getViewFileUrl('Merchstack_NetworkTree::account.png'); ?>"/>
                            </td>
                            <td width="*">
                                <?php echo $downline->getData('member_id') ?> - <?php echo $downline->getData('firstname') ?> <?php echo $downline->getData('lastname') ?><br>
                                <?= $block->escapeHtml(__('Level')) ?> <?php echo $downline->getData('level') - $current->getData('level') ?><br>
                            </td>
                        </tr>             
                    </table>
                <?php } ?>
            </div>
        </div>
        <div class="box">
            <div class="block-title"><strong><?= $block->escapeHtml(__('Upline')) ?></strong></div>
            <div class="box-content">
                <?php
                $upline = $block->getUpline();

                if ($upline != null) {
                    ?>
                    <table>
                        <tr>
                            <td>
                                <img src="<?php echo $block->getViewFileUrl('Merchstack_NetworkTree::account.png'); ?>"/>
                            </td>
                            <td width="90%">
                                <?php echo $upline->getData('member_id'); ?> - <?php echo $upline->getData('firstname') ?> <?php echo $upline->getData('lastname') ?><br>                        
                            </td>
                        </tr>
                    </table>
                    <?php
                }
                ?>
            </div>
        </div>        
    </div>
</div>