<script>
    function copyUrl() {
        /* Get the text field */
        var copyText = document.getElementById("referralUrl");
        copyText.select();
        document.execCommand("copy");
        console.log('Copy ' + copyText);
    }
</script>

<div class="block">
    <div class="block-title"><strong><?= $block->escapeHtml(__('Earn points by referring your friends')) ?></strong></div>
    <div class="block-content">
        <p>
            Blablablabla...
        </p>
    </div>
</div>
<div class="block">
    <div class="block-title"><strong><?= $block->escapeHtml(__('How to refer your friend?')) ?></strong></div>
    <div class="block-content">
        <p>
            Share your unique link
        </p>
        <fieldset class="fieldset info">
            <div class="actions-toolbar">
                <p>
                    <input id="referralUrl" type="text" readonly="true" 
                           onclick="this.select()"
                           value="<?= $block->getUrl('customer/account/create', ['referralcode' => $block->getReferralCode()]) ?>" />
                </p>
                <p>
                    <button onclick="copyUrl()"><span><?= $block->escapeHtml(__('Copy')) ?></span></button>
                </p>
            </div>    
        </fieldset>
    </div>
</div>

