#tinymce div.noneditablebox {
    position: relative;
    border: 1px solid #888;
    background: #eee;
    overflow: hidden;
    padding: 1%;
}

#tinymce div.noneditablebox::before {
    content: 'Noneditable';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    background: #f46f25;
    padding: 2px;
    color: #fff;
    font-size: 9px;
}